<h1>New Artist</h1>

<%= form_for @artist do |f| %>
  <% if @artist.errors.any? %>
    <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this record from being saved:</h2>
    <ul>
      <% @artist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.label :name %>
  <%= f.text_area :name %><br /><br />

  <%= f.label :image_path %>
  <%= f.text_area :image_path %><br /><br />

  <h3><%= f.submit "Create Artist" %></h3>
<% end %>
