<h1>New Song</h1>
<p>Add a new song for <%= @artist.name %></p>

<%= form_for ([@artist, @song]) do |f| %>
  <%= f.label :title, "Song Title" %>
  <%= f.text_field :title %><br />

  <%= f.submit "Create Song" %>
<% end %>
