<h1>Playlist <%= @playlist.name %></h1>

<ul>
  <% @songs.each do |song| %>
    <% if @playlist.songs.include?(song) %>
      <li><%= link_to song.artist.name, artist_path(song.artist) %></li>
      <li><%= link_to song.title, song_path(song) %></li>
    <% end %>
  <% end %>
</ul>

<p><%= link_to "Delete", playlist_path(@playlist), method: :delete %></p>
<p><%= link_to "Edit", edit_playlist_path %></p>
